<div class="header">
  <!-- working for menu burger -->
  <div class="logo">
    <!-- <i class="bx bxl-audible icon"></i> -->
    <button class="logo_btn" type="button" (click)="onToggleNav()">
      <!-- <span></span> -->
      <i class="bx bx-menu"></i>
    </button>
    Logo
  </div>
  <div class="user_info">
    <span *ngIf="userName"
      >Welcome, {{ userName }}!
      <button (click)="logout()">Logout</button>
    </span>
    <span *ngIf="!userName">
      <a routerLink="/sign-in">Login</a>
    </span>

    <div class="user-image">JH</div>
  </div>
</div>
