<div class="header">
  <div class="logo">
    <span>JFrag</span>
    <button class="logo_btn" type="button" (click)="onToggleNav()">
      <i class="bx bx-menu"></i>
    </button>
  </div>
  <div class="user_info">
    Welcome,
    <span class="alluser_info" *ngIf="userName">
      <div class="user-image"><fa-icon [icon]="faUser"></fa-icon></div>
      {{ userName }}!
      <button (click)="logout()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </button>
    </span>
    <span *ngIf="!userName">
      <a routerLink="/sign-in"> <fa-icon [icon]="faSignInAlt"></fa-icon></a>
    </span>

    <!-- <div class="user-image"><fa-icon [icon]="faUser"></fa-icon></div> -->
  </div>
</div>
