.header,
.footer {
  height: 70px;
  padding: 20px 50px;
  background-color: rgb(1, 38, 69);
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #939393;
  width: 100%;
  max-width: 2200px;
}
.logo {
  display: flex;
  gap: 1em;
}

.logo span {
  font-size: 30px;
}

.logo_btn {
  display: none;
}
.user_info {
  display: flex;
}
.user {
  align-items: center;
  font-weight: bold;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(11, 107, 185);
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: -15px;
}

/* <!-- working for menu burger --> */

@media only screen and (max-width: 992px) {
  /* <!-- working for menu burger --> */
  .logo_btn {
    display: block;
  }

  .header,
  .footer {
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /* <!-- working for menu burger --> */

  .header .footer {
    max-width: 100%;
  }

  .user_info span {
    font-size: 12px;
  }
  .user-image,
  .logo span {
    display: none;
  }
}
