<div class="all_products">
  <div>
    <table>
      <caption>
        Product List 2024
      </caption>
      <thead>
        <tr>
          <th class="p_id" scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Views</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productData">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.productName }}</td>
          <td>{{ product.productViews }}</td>
          <td><img [src]="product.imagePath" alt="" /></td>
          <td>
            <i (click)="deleteProduct(product.id)" class="fa fa-trash"></i>
            &nbsp;
            <a routerLink="/product/edit/{{ product.id }}"
              ><i class="fa fa-edit"></i
            ></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="3">Average product</th>
          <td>33</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
