<div class="all_products">
  <div>
    <table>
      <caption>
        Product List 2024
      </caption>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Views</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productData">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.views }}</td>
          <td><img [src]="product.imagePath" alt="" /></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="3">Average product</th>
          <td>33</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
