/* *----------------Top section----------------- * */

/* *----------------bottom section----------------- * */
.bottom_section {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr;
}

.bottom_section .bottom_left {
  max-width: 670px;
}
.bottom_section .bottom_right {
  max-width: 670px;
}
/* Media quaries */
@media only screen and (max-width: 992px) {
  .middle_section,
  .top_section,
  .bottom_section {
    max-width: 100%;
    /* justify-items: center; */
    display: grid;
    grid-template-columns: 1fr;
  }

  .bottom_section {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0;
    margin: 0;
    /* border: 2px solid green; */
    justify-items: center;
  }
  .bottom_section .bottom_left {
    width: 100%;
  }
  .bottom_section .bottom_right {
    /* width: 100%; */
  }
}

@media only screen and (max-width: 600px) {
  .middle_section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; /* Center items horizontally */
    align-items: center;
  }
  .middle_left {
    width: 100%;
    max-width: 300px;
  }
  .middle_right {
    max-width: 300px;
  }

  .bottom_left,
  .bottom_right {
    max-width: 300px;
  }

  .bottom_section {
    width: 100%;
    max-width: 300px;
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 1fr;
  }
}
