/* *----------------Top section----------------- * */

.widget {
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

/* *----------------bottom section----------------- * */
.bottom_section {
  display: flex;
  justify-content: space-between;
  .widget {
    height: 250px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    &.left {
      width: 670px;
      @media only screen and (max-width: 1200px) {
        width: 570px;
      }
    }
    &.right {
      width: 670px;
      @media only screen and (max-width: 1600px) {
        width: 570px;
      }
      /*👉  @media only screen and (max-width: 1500px) {
        width: 470px;
      }
      @media only screen and (max-width: 1400px) {
        width: 370px;
      }
      @media only screen and (max-width: 1200px) {
        width: 370px;
      }👈*/
    }
  }
}

.bottom_section .bottom_left {
  width: 670px;
}
.bottom_section .bottom_right {
  width: 670px;
}
/* Media quaries */
@media (max-width: 992px) {
  .middle_section,
  .top_section,
  .bottom_section {
    max-width: 100%;
    /* justify-items: center; */
    display: grid;
    grid-template-columns: 1fr;
  }

  .bottom_section {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0;
    margin: 0;
    /* border: 2px solid green; */
    justify-items: center;
  }
  .bottom_section .bottom_left {
    width: 100%;
  }
  .bottom_section .bottom_right {
    /* width: 100%; */
  }
}

@media (max-width: 600px) {
  .middle_section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; /* Center items horizontally */
    align-items: center;
  }
  .middle_left {
    width: 100%;
    max-width: 300px;
  }
  .middle_right {
    max-width: 300px;
  }
  .bottom_section {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .bottom_left,
  .bottom_right {
    max-width: 300px;
  }
}
