<div class="nav_items">
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span><a routerLink="">Dashbord</a></span>
    <!-- <span><a [routerLink]="['/']">Dashbord</a></span> -->
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faShop"></fa-icon>
    <span><a routerLink="product/get"> All Product</a></span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span><a routerLink="product/add"> Add Product</a></span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Category</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Sellers</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Orders</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Transactions</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faContactBook"></fa-icon>
    <span>Messages</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faLocation"></fa-icon>
    <span>Location</span>
  </div>
</div>
