.nav_items {
  padding-top: 40px;
}
.nav_item {
  padding: 25px 50px;
  cursor: pointer;
}
.nav_item:hover {
  background-color: rgb(1, 38, 69);
}
fa-icon {
  margin-right: 20px;
  font-size: 22px;
}
span {
  display: inline;
}
a {
  text-decoration: none;
  color: white;
}

/* menu burger start*/
@media (max-width: 992px) {
  .nav_item {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .nav_item.open {
    visibility: visible;
  }
  fa-icon {
    background-color: red;
    font-size: 14px;
  }
  .nav_item {
    font-size: 10px;
  }
}
/* menu burger start end*/
/* menu burger start*/
@media (max-width: 600px) {
  .nav_item {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    overflow: hidden;
    /* visibility: hidden; */
  }

  .nav_item.open {
    visibility: visible;
  }
  fa-icon {
    background-color: red;
    font-size: 10px;
  }
  .nav_item {
    font-size: 8px;
  }
}
/* menu burger start end*/
