.nav_items {
  padding-top: 40px;
}
.nav_item {
  padding: 25px 50px;
  cursor: pointer;
}
.nav_item:hover {
  background-color: rgb(1, 38, 69);
}
fa-icon {
  margin-right: 20px;
  font-size: 22px;
}
span {
  display: inline;
}
a {
  text-decoration: none;
  color: white;
}

/* menu burger start*/
@media (max-width: 992px) {
}
/* menu burger start end*/
/* menu burger start*/
@media (max-width: 600px) {
}
/* menu burger start end*/
