<div class="nav_items">
  <!-- <div *ngIf="displayName; then thenBlock; eslse eslseBlock"></div> -->
  <div class="nav_item" (click)="onMenuClick()">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span><a routerLink="">Dashbord</a></span>
    <!-- <span><a [routerLink]="['/']">Dashbord</a></span> -->
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faTags"></fa-icon>
    <span><a routerLink="category/get"> Category</a></span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faRuler"></fa-icon>
    <span><a routerLink="size/get"> Size</a></span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faBox"></fa-icon>
    <span><a routerLink="product/get"> Product</a></span>
  </div>

  <div class="nav_item">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <span><a routerLink="order/get">Orders</a></span>
  </div>

  <div class="nav_item">
    <fa-icon [icon]="faUser"></fa-icon>
    <span>Sellers</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faExchangeAlt"></fa-icon>
    <span>Transactions</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faContactBook"></fa-icon>
    <span>Messages</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faLocation"></fa-icon>
    <span>Location</span>
  </div>
</div>
