<div class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <div class="form_template">
      <div>
        <div class="wrapper">
          <form [formGroup]="editProduct" (ngSubmit)="UpdateData()">
            <h3>Update product</h3>
            <div
              *ngIf="message"
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <strong>Success!</strong> Product updated
              <button
                (click)="removeMessage()"
                type="button"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                X
              </button>
            </div>
            <div class="input_box">
              <div class="input_field">
                <input
                  type="text"
                  placeholder="Product Name"
                  required
                  formControlName="productName"
                />
              </div>
              <div class="input_field">
                <input
                  type="text"
                  placeholder="Category"
                  required
                  formControlName="productCategory"
                />
              </div>
              <div class="input_field">
                <input
                  type="text"
                  placeholder="Ingredient"
                  required
                  formControlName="productIngredient"
                />
              </div>
              <div class="input_field">
                <textarea
                  type="text"
                  placeholder="Description"
                  required
                  formControlName="productDescription"
                >
                </textarea>
              </div>
              <input type="file" (change)="onFileSelected($event)" />
            </div>
            <button type="submit" [disabled]="editProduct.invalid" class="btn">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
