<div class="form_template">
  <div>
    <div class="wrapper">
      <form [formGroup]="editProduct" (ngSubmit)="UpdateData()">
        <h3>Update product</h3>
        <div
          *ngIf="message"
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <strong>Success!</strong> Product updated
          <button
            (click)="removeMessage()"
            type="button"
            data-bs-dismiss="alert"
            aria-label="Close"
          >
            X
          </button>
        </div>
        <div class="input_box">
          <div class="input_field">
            <input
              type="text"
              placeholder="Product Name"
              required
              formControlName="productName"
            />
          </div>
          <div class="input_field">
            <input
              type="text"
              placeholder="Product Views"
              required
              formControlName="productViews"
            />
          </div>
          <div class="input_field">
            <input type="text" placeholder="Product Image" />
          </div>
        </div>
        <button type="submit" [disabled]="editProduct.invalid" class="btn">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
