<div class="all_sizes">
  <div>
    <h3>All size details</h3>
    <table class="table">
      <thead>
        <tr>
          <th class="p_id" scope="col">Id</th>
          <th scope="col">value</th>

          <th scope="col">
            Action &nbsp;
            <a (click)="toggleAddSizePopup()">
              <i class="fa fa-plus"></i>
            </a>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let size of sizeData">
          <th scope="row">{{ size.id }}</th>

          <td>{{ size.value }}</td>

          <td>
            <i (click)="deleteSize(size.id)" class="fa fa-trash"></i>
            &nbsp;
            <a (click)="toggleEditSizePopup(size)"
              ><i class="fa fa-edit"></i
            ></a>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-category
  *ngIf="showAddSizePopup"
  (close)="toggleAddSizePopup()"
></app-add-category>
<app-edit-category
  *ngIf="showEditSizePopup"
  [category]="selectedSize"
  (close)="toggleEditSizePopup()"
></app-edit-category>
