.container {
  width: 100%;
  max-width: 2200px;
  /* background-color: yellow; */
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  /*👉  width: 100%;👈*/
  /* background-color: red; */
}

.side_nav {
  /*👉width: 350px;
  min-width: 230px;👈*/
  min-height: calc(100vh - 70px);
  background-color: #113c60;
  color: #fff;
  box-shadow: 5px 5px 5px #939393;
}

.main {
  /* background-color: aqua; */
  padding: 30px;
  max-width: 100%;
}
/* -----------------Media queries--------- */
@media only screen and (max-width: 1440px) {
}
