.container {
  width: 100%;
  max-width: 2200px;
  /* background-color: yellow; */
  /* border: 1px solid red; */
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  /* border: 1px solid green; */
}

.side_nav {
  min-height: calc(100vh - 70px);
  background-color: #113c60;
  color: #fff;
  box-shadow: 5px 5px 5px #939393;
  display: block;
}

.main_body {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  border: 2px solid pink;
}
/* -----------------Media queries--------- */
@media only screen and (max-width: 1440px) {
}

/* menu burger start*/
@media only screen and (max-width: 992px) {
  .main_container {
    position: relative;
  }
  .side_nav {
    position: absolute;
    z-index: 1;
  }
  .main_body {
    position: absolute;
    padding: 0;
    width: 100%;
    max-width: 950px;
  }
}
@media only screen and (max-width: 600px) {
  .main_container {
    position: relative;
  }
  .side_nav {
    position: absolute;
    z-index: 1;
  }
  .main_body {
    position: absolute;
    padding: 0;
    width: 100%;
    max-width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
}
