<div class="form_template">
  <div class="wrapper">
    <form [formGroup]="addProduct">
      <h1>New Product Add</h1>
      <div class="input_box">
        <div class="input_field">
          <input
            type="text"
            placeholder="Product Name"
            required
            formControlName="productName"
          />
        </div>
        <div class="input_field">
          <input
            type="text"
            placeholder="Product Description"
            required
            formControlName="productDescription"
          />
        </div>
        <div class="input_field">
          <input type="text" placeholder="Product Image" />
        </div>
        <div class="input_field">
          <input type="text" placeholder="Product Image" />
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>
