<div class="form_template">
  <div class="wrapper">
    <form action="">
      <h1>New Product Add</h1>
      <div class="input_box">
        <div class="input_field">
          <input type="text" placeholder="Product Name" required />
        </div>
        <div class="input_field">
          <input type="text" placeholder="Product Description" required />
        </div>
        <div class="input_field">
          <input type="text" placeholder="Product Image" />
        </div>
        <div class="input_field">
          <input type="text" placeholder="Product Image" />
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>
