<div class="all_sizes">
  <div>
    <h3>All cat details</h3>
    <table class="table">
      <thead>
        <tr>
          <th class="p_id" scope="col">Id</th>
          <th scope="col">name</th>
          <th scope="col">
            Action &nbsp;
            <a (click)="toggleAddCategoryPopup()">
              <i class="fa fa-plus"></i>
            </a>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of catData">
          <th scope="row">{{ cat.id }}</th>
          <td>{{ cat.name }}</td>
          <td>
            <i (click)="deleteCat(cat.id)" class="fa fa-trash"></i>
            &nbsp;
            <a (click)="toggleEditCategoryPopup(cat)">
              <i class="fa fa-edit"></i>
            </a>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-category
  *ngIf="showAddCategoryPopup"
  (close)="toggleAddCategoryPopup()"
></app-add-category>
<app-edit-category
  *ngIf="showEditCategoryPopup"
  [category]="selectedCat"
  (close)="toggleEditCategoryPopup()"
></app-edit-category>
