<div class="all_sizes">
  <div>
    <h3>All cat details</h3>
    <h3>
      Add cat &nbsp;<a routerLink="/category/add">
        <i class="fa fa-plus"></i>
      </a>
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th class="p_id" scope="col">Id</th>
          <th scope="col">name</th>

          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of catData">
          <th scope="row">{{ cat.id }}</th>
          <td>{{ cat.name }}</td>
          <td>
            <i (click)="deleteCat(cat.id)" class="fa fa-trash"></i>
            &nbsp;
            <a routerLink="/category/edit/{{ cat.id }}"
              ><i class="fa fa-edit"></i
            ></a>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
