.all_sizes {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  margin-inline: auto;
  padding-top: 100px;
}
.all_sizes div {
  width: 100%;
  text-align: center;
  /* max-width: 1280px; */
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
  color: white;
}

caption {
  padding: 10px;
  font-weight: bold;
  width: 100%;
  max-width: 1280px;
}

thead,
tbody,
tfoot {
  background-color: rgb(19, 74, 97);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(86, 86, 3);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

img {
  width: 100px;
  height: 80px;
}

/* ------------Media queries------------------ */

@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 600px) {
}
