<div class="all_orders">
  <div>
    <h3>All order details</h3>
    <h3>
      Add Order &nbsp;<a routerLink="/order/add">
        <i class="fa fa-plus"></i>
      </a>
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th class="p_id" scope="col">Id</th>

          <th scope="col">Reference</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Delivery Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Status</th>

          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderData">
          <th scope="row">{{ order.id }}</th>

          <td>{{ order.reference }}</td>
          <td>{{ order.firstName }}</td>
          <td>{{ order.lastName }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.deliveryAddress }}</td>
          <td>{{ order.phone }}</td>
          <td>{{ order.status }}</td>

          <td>
            <i (click)="deleteOrder(order.id)" class="fa fa-trash"></i>
            &nbsp;
            <a routerLink="/order/edit/{{ order.id }}"
              ><i class="fa fa-edit"></i
            ></a>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
