<div class="all_orders">
  <div>
    <table>
      <caption>
        Order List 2024
      </caption>
      <thead>
        <tr>
          <th class="p_id" scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>

          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">xxxx</th>
          <td>xxx</td>
          <td>xxxx</td>

          <td>
            <i class="fa fa-trash"></i>
            &nbsp;
            <!-- <a routerLink="/order/edit/{{ order.id }}" -->
            <i class="fa fa-edit"></i>
            <!-- </a> -->
            &nbsp;

            <a routerLink="/order/add">
              <i class="fa fa-plus"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <th scope="row" colspan="3">Average order</th>
          <td>33</td>
        </tr>
      </tfoot> -->
    </table>
  </div>
</div>
