<div class="all_orders">
  <div>
    <h3>All order details</h3>
    <h3>
      Add Order &nbsp;<a routerLink="/order/add">
        <i class="fa fa-plus"></i>
      </a>
    </h3>
    <table>
      <caption>
        Order List 2024
      </caption>
      <thead>
        <tr>
          <th class="p_id" scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>

          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderData">
          <th scope="row">{{ order.id }}</th>
          <td>{{ order.firstName }}</td>
          <td>{{ order.lastName }}</td>

          <td>
            <i (click)="deleteOrder(order.id)" class="fa fa-trash"></i>
            &nbsp;
            <a routerLink="/order/edit/{{ order.id }}"
              ><i class="fa fa-edit"></i
            ></a>
            &nbsp;
          </td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <th scope="row" colspan="3">Average order</th>
          <td>33</td>
        </tr>
      </tfoot> -->
    </table>
  </div>
</div>
