.widget_container {
  display: flex;
}
.widget_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.widget {
  display: flex;
  align-items: space-between;
  width: 325px;
  height: 175px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
  padding: 20px;
  color: white;
}
.green {
  background-color: rgb(4, 67, 66);
}
.yellow {
  background-color: rgb(237, 158, 32);
}
.red {
  background-color: rgb(126, 5, 5);
}
.blue {
  background-color: rgb(105, 32, 251);
}
.icon {
  width: 100px;
  font-size: 60px;
  text-align: center;
}

.value {
  text-align: center;
  width: 175px;
}

.top {
  font-size: 30px;
}

.bottom {
  font-size: 20px;
}

@media (max-width: 992px) {
  .widget {
    max-width: 275px;
  }
  .widget_container {
    max-width: 580px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .widget_container {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .widget {
    width: 120px;
    display: grid;
    grid-template-columns: 1fr;
  }
  fa-icon {
    font-size: 30px;
  }

  .value {
    text-align: center;
    width: 100px;
  }

  .value div {
    font-size: 12px;
  }
}
